/* .deckSearchDiv {
    max-width: 323px;
} */

.results {
    max-width: 323px;
}

.deckSearchBtn {
    filter: drop-shadow(3px 5px 2px rgb(0, 0, 0));
    transform: scale(1.5);
}


.searchImg {
    max-height: 450px;
    margin-bottom: 19px;
    display: inline-block;
    border-radius: 17px;
    box-shadow: 10px 5px 5px rgb(140, 140, 140);
}

.searchFlipImg {
    max-height: 450px;
    display: inline-block;
    border-radius: 17px;
    box-shadow: 10px 5px 5px rgb(140, 140, 140);
}

.addToBtns {
    text-align: center;
}