.deckResults {
    display: inline-block;
    margin: 5px;
    border: 5px solid white;
    border-radius: 5px;
}

.illegalCard {
    display: inline-block;
    margin: 5px;
    border: 5px solid red;
    border-radius: 20px;
}

.deckItemBtn {
    filter: drop-shadow(3px 5px 2px black);
    transform: scale(1.0);
}

.deckImgList {
    max-height: 350px;
    border-radius: 15px;
    margin-bottom: -4px;
}

.deckImg {
    max-height: 450px;
    margin-left: 40px;
    border-radius: 15px;
}

.deckImgName {
    text-align: center;
    margin: auto;
}

.cardDetails {
    margin: 10px;
}

.detailsContainer {
    text-align: left;
    margin-top: 100px;
    margin-left: 40px;
}

.modalDltBtn {
    justify-self: center;
}