.deckContents {
    display: inline-block;
    margin: 23px 50px 50px 50px;
}

.deckSearch {
    display: inline-block;
    text-align: center;
}

.commanderImgDV {
    margin-left: 30px;
    max-height: 450px;
}

.commanderImg {
    max-height: 375px;
}

.position-absolute {
    position: relative;
}

.detailsContainerDV {
    margin-top: 90px;
    margin-left: 40px;
}