.deckContents {
    display: inline-block;
    margin: 40px;
}

.deckSearch {
    display: inline-block;
    text-align: center;
}

.commanderImg {
    max-height: 375px;
}

.dialogBox {
    position: absolute;
}

.position-absolute {
    position: relative;
  }