.detailsContainerInv {
    margin-left: 40px;
    margin-top: 120px;
}

.modalImg {
    max-width: 350px;
    margin-left: 20px;
    border-radius: 15px;
}

.hoverImg {
    max-width: 275px;
    border-radius: 15px;
}

.illegalCardInv {
    color: red;
}